.container {
    width:1200px;
    margin:0 auto;
}

.between {
    display:flex;
    justify-content: space-between;
}

.white {
    background:#fff;
    position: relative;
    z-index:10000;
    height:400px;
}