.container {
    width:1200px;
    margin:0 auto;
}

.between {
    display:flex;
    justify-content: space-between;
}

.start {
    display:flex;
    justify-content:flex-start;
}

.col {
    width:33.333%;
    padding:0 40px;
    text-align:center;
}

.white {
    background:#fff;
    position: relative;
    z-index:10000;
    padding:0px 0 90px 0px;
}

.img-local, .img-made-france, .img-quality {
    margin:70px auto 20px;
}

.img-local {
    background-image:url('../img/a-la-main.png');
    width: 153px;
    height: 108px;
}

.img-made-france {
    background-image:url('../img/made-in-france.png');
    width: 103px;
    height: 108px;
    background-repeat:no-repeat;
}

.img-quality {
    background-image:url('../img/quality.png');
    width: 92px;
    height: 108px;
}

h3 {
    text-transform:uppercase;
    color:$color-secondaire;
    padding:0;margin:0;
    text-align:center;
}

.col p {
    text-align:justify;
    font-size:15px;
    color:#888;
}

.border-info {
    width:80%;
    height:2px;
    background:$color-principal;
    margin:15px auto;
}

.cloud-bottom {
    background-image:url('../img/cloud.png');
    position: absolute;
    bottom:-120px;
    width:100%;
    height:120px;
    transform:rotateX(180deg);
}

.title-products {
    text-transform:uppercase;
    color:#fff;
    font-size:30px;
    margin-bottom:20px;
}

.title-product {
    text-transform:uppercase;
    color:rgb(0, 0, 0);
    font-size:14px;
    text-align:left;
}

.gradient-inverse {
    padding:120px 0;
    text-align:center;    
    background: #dd5e89; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffa8a8, #ff8787); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffa8a8, #ff8787); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.product {
    width:25%;
    background:#fff;
    margin:20px;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.35);
    border-radius:3px;
    overflow:hidden;
    height:344px;
    transition:.5s;
    position: relative;
}

.img-product {
    width:100%;
    border-radius:3px 3px 0 0;
}

.desc-product {
    padding:10px;
    font-weight:500;
    overflow: hidden;
    transition:.5s;
    background:#fff;
}

.product:hover .desc-product {
    transform: translateY(-40%);
    height:auto;
    overflow:visible;
}

.black {
    background:rgba(0,0,0,.1);
    opacity:0;
    transition:.5s;
    position: absolute;top:0;left:0;right:0;bottom:0;
}

.product:hover .black {
    opacity:1;
}

.price-product {
    color:$color-principal;
    text-align:left;
    font-size:14px;
}

.speed-desc {
    font-weight:300;
    text-align:left;
    font-size:12px;
    margin-top:15px;
}