header {
    background-image: linear-gradient(to bottom, $color-principal, rgba(0,0,0,0));
    padding:20px 0 50px;
    font-family: "Open Sans";
    position: relative;
    z-index:100000;
    transition:.2s;
}

.logo {
    height:43px;
}

nav ul {
    padding:0;
    margin:0;
}

nav ul li {
    display:inline-block;
    padding:10px 15px;
    border-radius: 25px;
    margin-left:10px;
    transition:.2s ease-in-out;
}

nav ul li:hover {
    background: #ff8686;
}

nav ul li a {
    color:#fff;
    text-decoration:none;
}

.active {
    border:1px solid #FFF;
}

.gradient {
    background: #dd5e89; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffa8a8, #ff8787); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffa8a8, #ff8787); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.menu-scroll {
    position: fixed;
    box-shadow: 0 2px 3px rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    color: #000;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    top: 0;
}

#navResponsive {
    display: none;
    color: #fff;
    z-index: 100000;
}

.menu-resp {
    display:none;
}

.menu-resp::after {
    position:absolute;
    top:45%;
    width:50px;
    background:$color-principal;
    height:2px;
    right:64%;
    content:'';
}

.menu-bar {
    display:none;
}

.basketIcon {
    font-size: 14px;
    border-radius: 50px;
    background: #ff8686;
    padding: 12px 15px;;
    position: relative;
    width:18%;
    float:right;
    overflow:hidden;
}

.count-basket {
    height:30px;width:30px;
    background:#ffa8a8;
    color:#fff;
    border-radius:50%;
    text-align:center;
    line-height:30px;
    position: absolute;
    top: 16%;
    right: 10px;
}

.final-basket {
    height:30px;width:30px;
    background:#ffa8a8;
    color:#fff;
    border-radius:50%;
    text-align:center;
    line-height:30px;
    position: absolute;
    top: 16%;
    right: -50%;
    transition:.3s ease-in-out;
    opacity:0;
}

.active-notif {
    animation: activeNotif 1s ease-in-out 1 forwards;
    -webkit-animation: activeNotif 1s ease-in-out 1 forwards;
}

.size-menu {
    width:43%;
}

.color-w {
    color:#fff;
}

.menu-scroll div nav ul li:hover a {
    color:#fff;
}