@media screen and (max-width: 740px) {
    .menu {
        width:100%;
        position:fixed;
        top:0;
        bottom:0;
        left:-100%;
        background:#fff;
        font-family:"Bebas Neue";
        letter-spacing: .2px;
        .between {
            flex-wrap: wrap;
        }
        div nav {
            display:block;
        }

        div nav ul li {
            text-transform:uppercase;
            font-weight:200;
            width:100%;
            padding:15px 50px;
            font-size: 43px;
        }
        div nav ul li a {
            color:$color-principal;
            text-align:left;
        }

        .menu-resp {
            display:block;
            font-weight: 600;
            color: #a6A6A6;
            text-transform: uppercase;
            margin: 27px 0 0 27px;
            font-size: 36px;
            position:relative;
            margin-bottom:20px;
            letter-spacing: 1.2px;
        }
    }

    .product, .col, .container, .col-footer {
        width:100%;
    }

    .content-slider {
        flex-wrap: wrap;
    }

    .text-content-slider {
        margin: 20px 14% 0 0px;
        width:100%;
    }

    .img-slider {
        width: 70%;
        height: 70%;
        margin:0 60px 0 0;
    }

    .col:first-child, .col:last-child {
        padding:0 40px;
    }

    .product {
        margin: 20px 40px;
        height: 100%;
    }

    .slider {
        height:750px;
    }

    .product:hover .desc-product {
        transform: translateY(0%);
    }

    .product:hover .black {
        opacity:0;
    }

    #navResponsive {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 30px;
        color:#A6A6A6;
    }

    .menu-bar {
        width:100%;
        margin-bottom:20px;
        background:#fff;
        padding:40px 20px;
        box-shadow: 0 2px 3px rgba(34, 36, 38, 0.15);
        display:block;
    }

    .col-footer {
        padding:20px;
    }

    .resize-container a {
        text-align: center;
        width: 100%;
    }

    .logo {
        height:100%;
        width:100%;
        padding:0 50px 30px;
    }
    
}