@media screen and (max-width: 1240px) {
    .menu {
        width:100%;
        position:fixed;
        top:0;
        bottom:0;
        left:-100%;
        background:#fff;
        letter-spacing: .2px;
        overflow:scroll;
        text-transform:uppercase;
        .between {
            flex-wrap: wrap;
        }
        div nav {
            display:block;
        }

        div nav ul li {
            text-transform:uppercase;
            font-weight:200;
            width:100%;
            padding:15px 50px;
            font-size: 23px;
        }
        div nav ul li a {
            color:$color-principal;
            text-align:left;
        }

        div nav ul li.active {
            border:none!important;
        }

        .basketIcon {
            margin: 0 15px;
            width: 21%;
            background:#fff;
            float:left;
        }

        .color-w {
            color:$color-secondaire;
            font-size: 43px;
        }

        .count-basket {
            height:50px;
            width:50px;
            line-height:50px;
        }

        .menu-resp {
            display:block;
            font-weight: 600;
            color: #a6A6A6;
            text-transform: uppercase;
            margin: 27px 0 0 27px;
            font-size: 22px;
            position:relative;
            margin-bottom:20px;
            letter-spacing: 1.2px;
        }
    }

    .product, .container, .col-footer {
        width:90%;
    }

    .content-slider {
        flex-wrap: wrap;
    }

    .text-content-slider {
        margin: 20px 14% 0 0px;
        width:100%;
    }

    .img-slider {
        width: 44%;
        height: 70%;
        margin:0 60px 0 0;
    }

    .col:first-child, .col:last-child {
        padding:0 40px;
    }

    .product {
        margin: 20px 10px;
        height: 100%;
        width: 44%;
    }

    .slider {
        height:750px;
    }

    .product:hover .desc-product {
        transform: translateY(0%);
    }

    .product:hover .black {
        opacity:0;
    }

    .col {
        width:33.333%;
    }

    #navResponsive {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 30px;
        color:#A6A6A6;
    }

    .menu-bar {
        width:100%;
        margin-bottom:20px;
        background:#fff;
        padding:40px 20px;
        box-shadow: 0 2px 3px rgba(34, 36, 38, 0.15);
        display:block;
    }

    .col-footer {
        padding:20px;
        width: 50%;
    }

    .resize-container a {
        text-align: center;
        width: 100%;
    }

    .logo {
        height:100%;
        width:100%;
        padding:0 50px 30px;
    }

    .start {
        justify-content: space-around;
    }

    .start-no-wrap {
        flex-wrap: wrap;
    }

    .fiche {
        margin-left:0px;
        padding: 0 0 0 30px;
        width: 100%;
    }

    .imgProduct {
        width: 90%;
        height: 90%;
        margin: 0 20px 40px;
    }

    .cloud-part {
        margin: 150px 0;
    }

    .cloud-part:before, footer:before {
        top: -118px;
    }

    .cloud-part:after {
        bottom: -118px;
    }

    .more-product {
        margin: -140px 0;
    }

    .size-menu {
        width:100%;
    }

    .footer:before {
        top: -118px;
    }

    .search {
        width:100%;
        padding:20px;
    }

    .full {
        width: 50%;
        margin: 0;
        box-shadow:none;
        padding:20px;
        height:auto;
    }

    .all-products {
        width:100%;
        margin-top:20px;
    }

    .direction-slider {
        right:10px;
    }

    .text-content-slider p {
        width: 100%;
    }

    .made-france {
        display:none;
    }
    
}

@media screen and (max-width: 768px) {
    .col {
        width:100%;
    }

    .basketIcon {
        width: 27%;
    }

}