$color-principal: #ffa8a8;
$color-secondaire: #a6a6a6;

* {
	box-sizing:border-box;
}

body {
	margin:0;
	padding:0;
	background:$color-principal;
    font-family:"Montserrat";
    overflow-x: hidden;
}

@import 'header';
@import 'content';
@import 'slider';
@import 'footer';
@import 'animation';

// RESPONSIVE

@import 'responsive-mobile';
@import 'responsive-tablette';